<!--{template common/header2}-->
<link rel="stylesheet" type="text/css" id="time_diy" href="template/elec_201701_hx_dingzhi/style/css/menhu.css" />
<style id="diy_style" type="text/css"></style>
<script src="template/elec_201701_hx_dingzhi/style/js/jquery.superslide.js" type="text/javascript"></script>

</div>
<div class="cl" style="padding: 20px 0; background: #fff;">
   <div class="wp cl">
      <div style="float: left; width: 840px;">
      <!--[diy=diy_1]--><div id="diy_1" class="area"></div><!--[/diy]-->
      </div>
      <div style="float: right; width: 340px;">
      <!--[diy=diy_2]--><div id="diy_2" class="area"></div><!--[/diy]-->
      </div>
   </div>
</div>
<div class="cl" style=" margin-top: 20px;">
   <div class="wp" >
    <div style="float: left; width: 840px;">
         <!--[diy=diy_3]--><div id="diy_3" class="area"></div><!--[/diy]-->
         <div class="cl">
         <div class="cl" style="float: left; width: 410px;">
         <!--[diy=diy_4]--><div id="diy_4" class="area"></div><!--[/diy]-->
         </div>
         <div class="cl" style="float: right; width: 410px;">
         <!--[diy=diy_5]--><div id="diy_5" class="area"></div><!--[/diy]-->
         </div>
         </div>
         </div>
         <div style="float: right; width: 340px;">
            <div class="login_box" style="margin-bottom: 20px;">
               <div class="a_img">
               <!--{if $_G['uid']}--><a href="home.php?mod=space&uid=$_G[uid]" target="_blank" title="{lang visit_my_space}" id="umnav" onMouseOver="showMenu({'ctrlid':this.id,'ctrlclass':'a'})"> 
                 <!--{avatar($_G[uid],middle)}-->
                 </a><!--{else}--><img src="template/elec_201701_hx_dingzhi/style/10.jpg" alt="" height="95" width="95"><!--{/if}-->
               </div>
               <div class="a_info">
               <!--{if $_G['uid']}--><div class="cl">{$_G[member][username]}</div><div class="lg_button cl"><a href="home.php?mod=spacecp">{lang setup}</a><a id="nte_menu" href="home.php?mod=space&do=notice" class="notification" style="margin: 0; background: #66CC99;">提醒<!--{if $_G[member][newprompt]}--><span style="padding-left: 5px; color: #F08989;">$_G[member][newprompt]</span><!--{/if}--></a></div><!--{else}--><div class="cl" style="line-height: 24px;">亲爱的会员</br>欢迎回来</div><div class="lg_button cl"><a href="member.php?mod={$_G[setting][regname]}">注册</a><a href="member.php?mod=logging&action=login" onClick="showWindow('login', this.href)" style="margin: 0; background: #66CC99;">登录</a></div><!--{/if}-->
               </div>
            </div>
            <!--[diy=diy_10]--><div id="diy_10" class="area"></div><!--[/diy]-->
         </div>
      </div>
   </div>
<div class="wp cl">
   <div class="box cl" style="padding-bottom: 10px;">
      <div class="cl">
         <h3 style="margin-left: 20px;">焦点图</h3>
         <em class="y" style="margin: 16px 20px 0 0;"><a href="#" style="color: #cb2f2f; font-size: 18px;">我要上传</a></em>
      </div>
      <div class="cl" style="margin: 0 20px;">
         <div style="float: left; width: 370px; margin-right: 10px;">
            <!--[diy=diy_11]--><div id="diy_11" class="area"></div><!--[/diy]-->
         </div>
         <div style="float: left; width: 180px; margin-right: 10px;">
            <!--[diy=diy_12]--><div id="diy_12" class="area"></div><!--[/diy]-->
         </div>
         <div style="float: left; width: 250px; margin-right: 10px;">
            <!--[diy=diy_13]--><div id="diy_13" class="area"></div><!--[/diy]-->
         </div>
         <div style="float: left; width: 300px; margin-right: 0;">
            <!--[diy=diy_15]--><div id="diy_15" class="area"></div><!--[/diy]-->
         </div>
      </div>
   </div>
</div>

<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script> 
<!--{template common/footer}-->
